/*css reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3 {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
}

a {
	text-decoration: none;
	color: #fcfcfc;
}

body {
	background-color: #fcfcfc;
}



/*start of css declarations*/

/*GENERAL*/
.cls-1 {
	fill: #fcfcfc;
}

.cls-2 {
	fill: #136cfe;
}

.cls-3 {
	fill: #ffc40e;
}


/*.cls-3:hover, .cls-2:hover {
	fill: rgba(255, 255, 255, 0.8);
}*/

.tac {
	text-align: center;
}

hr {
	width: 85%;
	margin: 15px auto 0 auto;
}

.overflow-hidden {
	overflow: hidden;
}

.bg-default {
	background-color: #333;
}


.btn-wrap {
	/*padding: 30px 10px;*/
	color: #fcfcfc;
	text-align: center;
	/*margin: 0 auto;*/
	margin: 15px 0;
}

.btn-wrap a {
	text-decoration: none;
	/*float: left;*/
	font-size: 1.1rem;
	/* letter-spacing: 1px; */
}


.my-btn {
	padding: 10px 10px;
	width: 200px;
	display: block;

	transition: all 0.2s ease;
}

.my-btn-1 {
	color: #fcfcfc;
	border: 2px solid #fcfcfc;
	background-color: transparent;
}

.my-btn-2 {
	color: #14294E;
	border: 2px solid #fcfcfc;
	background-color: #fcfcfc;
}

.my-btn:hover {
	background-color: #136cfe;
	border: 2px solid #136cfe;
	color: #fcfcfc;
}

.label {
	/*width: 100px;*/
	padding: 8px 4px;
	/*display: block;*/
	/*margin: 0 auto 15px auto;*/
	/*height: 40px;*/
	text-transform: uppercase;
	border-bottom: 4px solid #14294E;
	color: #333;
	font-weight: 500;
	font-size: 0.8em;
	letter-spacing: 2px;
}

.label-subtitle {
	font-weight: 600;
	margin: 30px 0 20px 0;
	font-size: 2em;
	color: #14294E;
}



/*HEADER*/

header {
	position: relative;
	top: 0;
	left: 0;
	height: 13vh;
	background-color: transparent;
	padding-top: 5px;
	z-index: 100;

}


.logo svg {
	display: block;
	width: 70%;
	cursor: pointer;
}

.logo {
	padding: 20px 40px 20px 0px;
}

.my-nav ul {
	list-style: none;
	margin-bottom: 0;
	float: right;
}

.my-nav ul>li {
	text-transform: uppercase;
	letter-spacing: 1px;
	padding-right: 35px;
	padding-bottom: 30px;
	float: left;

}

.my-nav ul li:last-child {
	padding-right: 0;
}

.my-nav ul>li>a {
	font-weight: 500;
	text-decoration: none;
	padding-bottom: 6px;
}

.my-nav ul>li>a:hover {
	color: #ffc40e;
}


/*--- navbar animation ---*/

.nav-hover {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	position: relative;
	overflow: hidden;
}


.nav-hover:before {
	content: "";
	position: absolute;
	z-index: -1;
	left: 0;
	right: 100%;
	bottom: 0;
	background: #fcfcfc;
	height: 4px;
	-webkit-transition-property: right;
	transition-property: right;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}

.nav-hover:hover:before,
.nav-hover:focus:before,
.nav-hover:active:before {
	right: 0;
}


.nav-active {
	color: #ffc40e;
}


/* ---- nav toggler ---- */

.nav-toggle {
	display: none;
	width: 40px;
	height: 40px;
	position: absolute;
	top: 0;
	left: 90%;
	transform: translate(-100%, 50%);
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 5px;
	margin-right: 40px;
}


.my-toggler {
	width: 25px;
	height: 2px;
	background-color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: .5s;
	border-radius: 2px;
}

.my-toggler:before,
.my-toggler:after {
	content: "";
	position: absolute;
	width: 25px;
	height: 2px;
	background-color: #fff;
	transition: .5s;
	border-radius: 2px;
}

.my-toggler:before {
	top: -9px;
}


.my-toggler:after {
	top: 9px;

}

.nav-active .my-toggler {
	background-color: rgba(0, 0, 0, 0);
}

.nav-active .my-toggler:before {
	transform: rotate(45deg);
	top: 0;
}

.nav-active .my-toggler:after {
	transform: rotate(135deg);
	top: 0;
}




/*BANNER*/

.banner {
	position: relative;
	height: 90vh;
	margin-top: -13vh;
	background-color: #14294E;
	clip-path: polygon(50% 90%, 100% 82%, 100% 0, 0 0, 0 82%);
	color: #fcfcfc;
}

.banner::after {
	content: "";
	background: linear-gradient(to bottom, rgba(7, 13, 28, 0.65) 0%, rgba(5, 10, 22, 0.65) 22%, rgba(0, 0, 0, 0) 100%), url(../images/hero-banner.jpg);

	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	position: absolute;

	opacity: 0.3;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
}


.banner * {
	position: relative;
	z-index: 50;
}

.wrapper-center {
	padding-top: 22vh;
	width: 100%;
	text-align: center;
}

.pointer-down {
	padding-top: 17vh;
	width: 100%;
	text-align: center;
}


.pointer-down i {
	font-size: 2em;
	transition: 0.2s;

}

.pointer-down i:hover {

	color: #ffc40e;

}

.banner h1 {
	font-size: 3em;
}

.banner h4 {
	font-weight: 400;
	font-size: 1.5em;
}

.banner span {
	color: #ffc40e;
	/*font-weight: 400;*/

}


/* FEATURED */

.featured {
	padding: 100px 0 50px 0;
	background-color: #fcfcfc;

}

.featured .card {
	border: none;
	position: relative;
	margin: 5px 5px;
}

.card-group {
	padding-top: 10px;
}

.featured .card-body {
	padding-left: 0;
	padding-right: 0;
	min-height: 50px;
}

.featured .card-img-top {
	border-radius: 0px;
}

.card-body {
	position: absolute;
	/*top: 0;*/
	width: 100%;
	height: 100%;
	/* right: 0; */
	opacity: 0;
	padding: 0;
	background-color: #226BE2;
	transition: 0.3s ease;
	color: #fcfcfc;
	/*text-align: center;*/
}

.card-title {
	font-weight: 600;
	letter-spacing: 1px;
	margin-bottom: 0.5rem;
	padding: 0 20px;
	color: #ffc40e;
}

.card-text {
	padding: 0 20px;
	font-size: 0.9rem;
	line-height: 1rem;
}

.card-body-wrapper {
	position: absolute;
	top: 50%;
	transform: translate(0, -55%);
}

.card-body:hover {
	opacity: 1;
	cursor: pointer;
}

/*PRODUCTS*/

.products {
	padding-bottom: 100px;
	background-color: #fcfcfc;
}

.category-card {
	box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
	background-color: #fff;
	border-radius: 5px;
	overflow: hidden;
	/*width: 300px;*/
	margin: 0 auto;
	max-height: 200px;
	transition: 0.2s ease;
}

.category-card:hover {
	transform: scale(1.05, 1.05);
	cursor: pointer;
}

.category-card-img {
	/*border: 1px solid blue;*/
	width: 50%;
	float: left;
	padding-right: 15px;
	overflow: hidden;
}

.category-card-body {
	/*background-color: pink;*/
	width: 100%;
	padding-top: 15px;
	padding-right: 15px;
}

.category-card-body h4 {
	text-transform: uppercase;
	font-size: 0.8rem;
	font-weight: 600;

}

.category-card-body p {
	color: #555;
	font-size: 0.75rem;
	line-height: 1rem;
}


/*ABOUT*/
.to-about {
	padding: 60px 10px;
	background-color: steelblue;
	text-align: left;

	background: url(../images/hand-shake.jpg) center no-repeat;
	background-size: cover;
	background-attachment: fixed;

	position: relative;
}


.about-content span {
	display: block;
}

.about-content h2 {
	font-size: 3em;
	color: #ffc40e;
}

.about-content p {
	color: #fcfcfc;
	margin-bottom: 18px;
	font-size: 1.2em;
}

.about-content a {
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
}

.my-btn-3 {
	/*display: block;*/
	padding-bottom: 5px;
	color: #fcfcfc;
	border-bottom: 2px solid #ffc40e;
	transition: 0.2s;
}

.my-btn-3:hover {
	color: #ffc40e;
}

/*PARTNERS*/
.partners {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #14294E;
}

.partners .label {
	color: #fcfcfc;
	border-bottom: 4px solid #136cfe;
}

.p-logo-container {
	text-align: center;
	/*margin-top: 20px;*/
	border-left: 4px solid white;
	height: 100%;
}

.partners h2 {
	font-size: 3em;
    color: #fcfcfc;
}

.label-text {
	padding-top: 10px;
	/*text-align: center;*/
	font-size: 0.8em;
	line-height: 1.1em;
	color: #fcfcfc;
}


.partners img {
	max-height: 40px;
	margin: 10px 20px;
}

.parnters .left-container {
	padding-right: 20px;
}

/*CONTACT*/

.contact {
	padding: 50px 0;
	height: 100%;
	background-color: #fcfcfc;
	color: #14294E;

	background: url(../images/spark.png) right bottom no-repeat;
	background-size: 35%;	
	background-attachment: fixed;
}

.contact .label-text {
	padding-top: 10px;
	/*text-align: center;*/
	font-size: 1em;
	line-height: 1.4em;
	color: #666;
	font-style: italic;
	padding-left: 15px;
	border-left: 5px solid #f2f2f2;
}

.contact h5 {
	text-transform: uppercase;
	font-size: 0.8em;
	color: #666;
	font-weight: 500;
	margin-bottom: 5px;
	/*margin-top: 15px;*/
}

.contact-icon {
	display: inline-block;
	background-color: #14294E;
	padding: 5px 7px;
	font-size: 0.7rem;
	border-radius: 7px;
	color: #fcfcfc;
	margin-right: 8px;
	float: left;
	/*min-width: 100%;*/
}

.contact-info {
	margin-bottom: 5px;	
}

.contact-info p {
	/*padding-top: 10px;*/
	/*display: inline;*/
	float: left;
	font-weight: 500;
	font-size: 1rem;



}

.contact-details {
	font-size: 0.9rem;
	line-height: 1.2rem;
}

.social-group  {
	margin-top: 15px;
}

.social-links {
	width: 30px;
	height: 30px;
	background-color: pink;
	display: inline-block;
	margin-right: 5px;
}


/*CONTACT FORM*/

.contact form {
	display: block;
	width: 90%;
	background-color: #fcfcfc;
	border-radius: 20px;


}

.contact fieldset {
	padding: 20px;
	width: 100%;
	display: block;
	border: 1px solid #f1f1f1;
	border-radius: 20px;
	box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);

}

.contact form span{
	display: block;
	margin-top: -13px;
}

.contact input, 
.contact textarea {
	display: block;
	width: 100%;
	margin-bottom: 5px;
}

.contact input {
	height: 2em;
}

.contact label {
	font-size: 0.8em;
	margin-bottom: 2px;
}

.contact input[class="form-control"] {
	box-shadow: 1px 1px 2px inset rgba(0, 0, 0, 0.1);

}

.contact .my-btn-4 {
	width: 50%;
	margin: 0 auto;
	margin-top: 15px;
	color: #fcfcfc;
	background-color: #136cfe;
	border-radius: 10px;
	border: 1px solid #136cfe;
}


/*FOOTER*/
footer {
	height: 160px;
	background-color: #14294E;
}

.footer-content {
	padding-top: 20px;
}

.footer-logo {
	height: 80px;
	background-color: #fcfcfc;
}

.footer-info {
	margin-left: 20px;
	height: 80px;
	background-color: pink;
}

/*MEDIA QUERIES*/

/*Mobile Styles*/
@media only screen and (max-width: 425px) {
	.nav-toggle {
		/*margin-top: 20px;*/
		display: block;
		position: fixed;
		z-index: 500;
	}

	.my-nav {
		visibility: hidden;
		opacity: 0;
		transition: 0.3s;
		position: fixed;
		display: absolute;
		top: 0;
		left: 0;
		background-color: #14294E;
		height: 100%;
	}

	.my-nav-active:before {
		content: "";
		display: block;
		position: fixed;
		width: 80px;
		height: 51px;
		background: url(../images/logo-sati.png);
		background-size: cover;
		margin-top: 20px;
		margin-left: 40px;
		margin-bottom: 30px;

	}

	#myNav .my-nav-active {
		visibility: visible;
		opacity: 1;
	}

	.my-nav ul {
		padding-top: 40%;
		margin-bottom: 0;
		float: right;
	}

	.my-nav ul>li {
		width: 100%;
		padding: 10px 0 10px 40px;
		float: left;

	}

	.my-nav ul>li>a {
		font-weight: 500;
		text-decoration: none;
		padding-bottom: 6px;
	}

	.banner {
		height: 100%;
		clip-path: none;
	}

	.banner h1 {
		font-size: 2.2em;
	}

	.banner h4 {
		padding-top: 10px;
		font-size: 1em;
		font-weight: 400;
	}

	.wrapper-center {
		padding-top: 35%;
	}

	.pointer-down {
		padding-top: 60px;
		padding-bottom: 20px;
	}

	.logo {
		padding: 10px 0px 0px 0px;
	}

	.logo svg {
		width: 80%;
	}

	.my-btn {
		padding: 5px 0;
		width: 200px;
	}

	.featured .card {
		margin-bottom: 15px;
	}

	.card-title {
		font-size: 1.5em;
	}

	.card-text {
		padding: 0 20px;
		font-size: 1rem;
		line-height: 1rem;
	}

	.featured {
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.products {
		padding-bottom: 50px;
	}

	.category-card {
		margin-bottom: 15px;
		box-shadow: 0 1px 4px 0 hsla(0, 0%, 0%, 0.2);
	}

	.category-card-img {
		padding-right: 8px;
	}

	.category-card-body {
		/*background-color: pink;*/
		width: 100%;
		padding-top: 10px;
		padding-right: 8px;
	}

	.category-card-body h4 {
		text-transform: uppercase;
		font-size: 0.8rem;
		font-weight: 600;

	}

	.category-card-body p {
		color: #555;
		font-size: 0.8rem;
		line-height: 0.9rem;
	}

	.to-about {
		padding: 40px 20px;
	}

	.about-content h2 {
		font-size: 2em;
	}

	.about-content p {
		margin-bottom: 18px;
		font-size: 1em;
	}

	.contact p {
	font-size: 0.9rem;
}

	.contact form {
		width: 100%;
	}

	.contact fieldset {
		padding: 10px 10px 20px 10px;
		width: 100%;
		display: block;
		border: none;
		border-bottom: 2px solid #f1f1f1;
		border-radius: 0;
		box-shadow: none;
	}

	.contact legend {
		display: none;
	}

	.contact .my-btn-4 {
		width: 75%;
	}

	footer {
		height: 100%;
	}


}

/*Tablet Styles*/

@media only screen and (min-width: 426px) and (max-width: 960px) {
	.logo {
		padding: 20px 0px 0px 0px;
	}

	.logo svg {
		width: 100%;
	}

	.banner {
		min-height: 100%;
	}

	.wrapper-center {
		padding-top: 40%;
	}

	.pointer-down {
		padding-top: 20%;
		width: 100%;
		text-align: center;
	}

	.featured {
		padding-top: 0;
	}

	.card-title {
		font-size: 1.8em;
	}

	.card-text {
		padding: 0 20px;
		font-size: 1.2rem;
		line-height: 1.2rem;
	}

	.my-nav ul>li {
		padding-right: 22px;
		padding-bottom: 20px;
	}

	.my-nav ul>li:last-child {
		padding-right: 0;
	}

	.category-card {
		max-width: 400px;
		margin: 0 auto;
		margin-bottom: 20px;
		box-shadow: 0 1px 4px 0 hsla(0, 0%, 0%, 0.2);
	}


}

/*Large Screens Styles*/
@media screen and (min-width: 1280px) {
	.banner {
		height: 105vh;
	}

	.banner h1 {
		font-size: 3em;
	}

	.banner h4 {
		padding-top: 10px;
		font-size: 1.2em;
		font-weight: 400;
	}

	.wrapper-center {
		padding-top: 18%;
	}

	.logo svg {
		display: block;
		width: 60%;
	}

	.logo {
		padding: 20px 0px 0px 0px;
	}

	.pointer-down {
		padding-top: 8%;
	}

	.featured {
		padding-top: 0;
	}



}

@media screen and (min-width: 1440px) {
	.wrapper-center {
		padding-top: 25%;
	}

	.pointer-down {
		padding-top: 12%;
	}


}