/*css reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3 {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
}

a {
	text-decoration: none;
	color: #fcfcfc;
}

body {
	background-color: #fcfcfc;
}

abbr[title] {
	border-bottom: none;
	cursor: inherit;
	text-decoration: none;
}


/*start of css declarations*/

/*GENERAL*/
.cls-1 {
	fill: #fcfcfc;
}

.cls-2 {
	fill: #136cfe;
}

.cls-3 {
	fill: #ffc40e;
}


/*.cls-3:hover, .cls-2:hover {
	fill: rgba(255, 255, 255, 0.8);
}*/

.tac {
	text-align: center;
}

hr {
	width: 85%;
	margin: 15px auto 0 auto;
}

.overflow-hidden {
	overflow: hidden;
}

.bg-default {
	background-color: #333;
}


.btn-wrap {
	/*padding: 30px 10px;*/
	color: #fcfcfc;
	text-align: center;
	/*margin: 0 auto;*/
	margin: 15px 0;
}

.btn-wrap a {
	text-decoration: none;
	/*float: left;*/
	font-size: 1.1rem;
	/* letter-spacing: 1px; */
}


.my-btn {
	padding: 10px 10px;
	width: 200px;
	display: block;

	transition: all 0.2s ease;
}

.my-btn-1 {
	color: #fcfcfc;
	border: 2px solid #fcfcfc;
	background-color: transparent;
}

.my-btn-2 {
	color: #14294E;
	border: 2px solid #fcfcfc;
	background-color: #fcfcfc;
}

.my-btn:hover {
	background-color: #136cfe;
	border: 2px solid #136cfe;
	color: #fcfcfc;
}

.label {
	/*width: 100px;*/
	padding: 8px 4px;
	/*display: block;*/
	/*margin: 0 auto 15px auto;*/
	/*height: 40px;*/
	text-transform: uppercase;
	border-bottom: 4px solid #14294E;
	color: #333;
	font-weight: 500;
	font-size: 0.8em;
	letter-spacing: 2px;
}

.label-subtitle {
	font-weight: 600;
	margin: 30px 0 20px 0;
	font-size: 2em;
	color: #14294E;
}



/*HEADER*/

nav {
	position: relative;
	top: 0;
	left: 0;
	height: 13vh;
	background-color: transparent;
	padding-top: 5px;
	z-index: 100;

}


.logo svg {
	display: block;
	width: 70%;
	cursor: pointer;
}

.logo {
	padding: 20px 40px 20px 0px;
}

.my-nav ul {
	list-style: none;
	margin-bottom: 0;
	float: right;
}

.my-nav ul>li {
	text-transform: uppercase;
	letter-spacing: 1px;
	padding-right: 35px;
	padding-bottom: 30px;
	float: left;

}

.my-nav ul li:last-child {
	padding-right: 0;
}

.my-nav ul>li>a {
	font-weight: 500;
	text-decoration: none;
	padding-bottom: 6px;
}

.my-nav ul>li>a:hover {
	color: #ffc40e;
}


/*--- navbar animation ---*/

.nav-hover {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	position: relative;
	overflow: hidden;
}


.nav-hover:before {
	content: "";
	position: absolute;
	z-index: -1;
	left: 0;
	right: 100%;
	bottom: 0;
	background: #fcfcfc;
	height: 4px;
	-webkit-transition-property: right;
	transition-property: right;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}

.nav-hover:hover:before,
.nav-hover:focus:before,
.nav-hover:active:before {
	right: 0;
}


.nav-active {
	color: #ffc40e;
}


/* ---- nav toggler ---- */

.nav-toggle {
	display: none;
	width: 40px;
	height: 40px;
	position: absolute;
	top: 0;
	left: 93%;
	transform: translate(-100%, 50%);
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 5px;
	margin-right: 40px;
}


.my-toggler {
	width: 25px;
	height: 2px;
	background-color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: .5s;
	border-radius: 2px;
}

.my-toggler:before,
.my-toggler:after {
	content: "";
	position: absolute;
	width: 25px;
	height: 2px;
	background-color: #fff;
	transition: .5s;
	border-radius: 2px;
}

.my-toggler:before {
	top: -9px;
}


.my-toggler:after {
	top: 9px;

}

.nav-active .my-toggler {
	background-color: rgba(0, 0, 0, 0);
}

.nav-active .my-toggler:before {
	transform: rotate(135deg);
	top: 0;
}

.nav-active .my-toggler:after {
	transform: rotate(-135deg);
	top: 0;
}




/*BANNER*/

.section-banner {
	position: relative;
	margin-top: -13vh;
	background-color: #14294E;
	color: #fcfcfc;
}

.home-banner {
	background-color: #14294E;
	clip-path: polygon(50% 90%, 100% 82%, 100% 0, 0 0, 0 82%);
}

.home-banner::after {
	content: "";
	background: linear-gradient(to bottom, rgba(7, 13, 28, 0.65) 0%, rgba(5, 10, 22, 0.65) 22%, rgba(0, 0, 0, 0) 100%), url(../images/hero-banner.jpg);

	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	position: absolute;

	opacity: 0.3;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
}


.home-banner span {
	color: #ffc40e;
	/*font-weight: 400;*/

}

.section-banner * {
	position: relative;
	z-index: 50;
}

.wrapper-center {
	padding-top: 22vh;
	width: 100%;
	text-align: center;
}

.pointer-down {
	/*	padding-top: 15vh;*/
	width: 100%;
	text-align: center;
}


.pointer-down i {
	font-size: 2em;
	transition: 0.2s;

}

.pointer-down i:hover {

	color: #ffc40e;

}

.section-banner h1 {
	font-size: 3em;
}

.section-banner h4 {
	font-weight: 400;
	font-size: 1.5em;
}


/*========*/

header .about-banner,
header .products-banner {
	height: 50vh;
}

.products-banner::after {
	content: "";
	background: linear-gradient(to bottom, rgba(7, 13, 28, 0.65) 0%, rgba(5, 10, 22, 0.65) 22%, rgba(0, 0, 0, 0) 100%), url(../images/bg-products.jpg);

	background-position: bottom center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	position: absolute;

	opacity: 0.5;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
}

.about-banner::after {
	content: "";
	background: linear-gradient(to bottom, rgba(7, 13, 28, 0.65) 0%, rgba(5, 10, 22, 0.65) 22%, rgba(0, 0, 0, 0) 100%), url(../images/bg-about.jpg);

	background-position: bottom center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	position: absolute;

	opacity: 0.5;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
}

.about-banner h1 {
	font-size: 1em;
	/*text-transform: uppercase;*/
	width: 320px;
	margin: 0 auto;
	padding-bottom: 8px;
	margin-bottom: 10px;
	/*border-bottom: 3px solid #ffc40e;*/
}

.about-banner h4 {
	font-size: 0.5em;
}

/*================*/

.solid-bg {
	height: 120px;
	background-color: #14294E;
}


/* FEATURED */

.featured {
	padding: 100px 0 50px 0;
	background-color: #fcfcfc;

}

.featured .card {
	border: none;
	position: relative;
	margin: 5px 5px;
}

.card-group {
	padding-top: 50px;
}

.featured .card-body {
	padding-left: 0;
	padding-right: 0;
	min-height: 50px;
}

.featured .card-img-top {
	border-radius: 0px;
}

.featured .card-body {
	position: absolute;
	/*top: 0;*/
	width: 100%;
	height: 100%;
	/* right: 0; */
	opacity: 0;
	padding: 0;
	background-color: #226BE2;
	transition: 0.3s ease;
	color: #fcfcfc;
	/*text-align: center;*/
}

.featured .card-title {
	font-weight: 600;
	letter-spacing: 1px;
	margin-bottom: 0.5rem;
	/*padding: 0 20px;*/
	color: #ffc40e;
}

.featured .card-text {
	/*padding: 0 20px;*/
	font-size: 0.9rem;
	line-height: 1rem;
}

.featured .card-body-wrapper {
	padding: 0 20px;
	position: absolute;
	top: 50%;
	transform: translate(0, -55%);
}

.featured .card-body:hover {
	opacity: 1;
}

.featured button:hover {
	cursor: pointer;
}

/* =================== VIDEO CONTAINER */

/* VIDEO CONTAINER */

.video-wrapper {
	text-align: center;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 4000;
	background-color: rgba(0, 0, 0, 0.8);
	opacity: 0;
	visibility: hidden;
	display: none;
	transition: opacity 0.5s cubic-bezier(0.7, 0, 0.3, 1) 45ms, transform 0.5s cubic-bezier(0.7, 0, 0.3, 1) 45ms;
	padding: 0 2rem;
}

.open-vid {
	opacity: 1 !important;
	visibility: visible !important;
	display: block;
	transition: opacity 0.5s cubic-bezier(0.7, 0, 0.3, 1) 45ms, transform 0.5s cubic-bezier(0.7, 0, 0.3, 1) 45ms;
}

.video-container {
	position: relative;
	padding-bottom: 56%;
	top: 15%;
	width: 100%;
	text-align: left;
}

.video-item {
	width: 100%;
	position: absolute;
	height: 100%;
	overflow: hidden;
	transition: opacity 0.5s cubic-bezier(0.7, 0, 0.3, 1) 45ms, transform 0.5s cubic-bezier(0.7, 0, 0.3, 1) 45ms;
}

.close-button {
	display: block;
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	top: 5%;
	color: #fff;
	font-size: 1rem;
	padding: 5px 10px;
	/* margin: 30px 0 10px 20px; */
	background-color: rgba(0, 0, 0, .25);
	border-radius: 5px;
	cursor: pointer;
}

.close-button i {
	text-align: center !important;
	font-size: 1rem;
}

/* ============================== */

/*PRODUCTS*/

.products {
	padding-bottom: 100px;
	background-color: #fcfcfc;
}

.category-card {
	box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
	background-color: #fff;
	border-radius: 5px;
	overflow: hidden;
	/*width: 300px;*/
	margin: 0 auto;
	max-height: 200px;
	transition: 0.2s ease;

}

.category-card:hover {
	transform: scale(1.05, 1.05);
	cursor: pointer;
}

.category-card-img {
	/*border: 1px solid blue;*/
	width: 47%;
	float: left;
	padding-right: 15px;
	overflow: hidden;
}

.category-card-body {
	/*background-color: pink;*/
	width: 100%;
	padding-top: 10px;
	padding-right: 10px;
}


.category-card-body h4 {
	font-size: 0.9rem;
	color: #14294E;
	font-weight: 600;

}

.category-card-body p {
	font-size: 0.75rem;
	line-height: 0.8rem;
	overflow: hidden;
}

.category-card a {
	text-decoration: none;
	color: #14294E;
}

.category-card:active {
	box-shadow: 0px 0px 6px 0 rgba(255, 196, 14, 0.4);
}





/*ABOUT*/
.to-about {
	padding: 60px 10px;
	background-color: steelblue;
	text-align: left;

	background: url(../images/hand-shake.jpg) center no-repeat;
	background-size: cover;
	background-attachment: fixed;

	position: relative;
}

.about-content h2 {
	font-size: 3em;
	color: #ffc40e;
}

.about-content p {
	color: #fcfcfc;
	margin-bottom: 18px;
	font-size: 1.2em;
}

.about-content a {
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
}

.my-btn-3 {
	/*display: block;*/
	padding-bottom: 5px;
	color: #fcfcfc;
	border-bottom: 2px solid #ffc40e;
	transition: 0.5s;
}

.my-btn-3:hover {
	color: #ffc40e;
}

/*PARTNERS*/
.partners {
	padding-top: 50px;
	padding-bottom: 30px;
	background-color: #14294E;
	border-bottom: 4px solid #136cfe;

}

.p-logo-container {
	text-align: center;
	/*margin-top: 20px;*/
	border-left: 4px solid white;
	height: 100%;
}

.partners h2 {
	font-size: 3em;
	color: #fcfcfc;
}

.label-text {
	padding-top: 10px;
	/*text-align: center;*/
	font-size: 0.8em;
	line-height: 1.2rem;
	color: #fcfcfc;
}


.partners img {
	max-height: 40px;
	margin: 10px 20px;
}

.partners .left-container {
	padding-right: 20px;
}

/*CONTACT*/

.contact {
	padding: 50px 0;
	height: 100%;
	background-color: #fcfcfc;
	color: #14294E;

	background: url(../images/spark.png) right bottom no-repeat;
	background-size: 35%;
	background-attachment: fixed;
}

.contact .label-text {
	padding-top: 0px;
	margin-bottom: 30px;
	font-size: 1em;
	line-height: 1.4em;
	color: #666;
	font-style: italic;
	padding-left: 15px;
	border-left: 5px solid #f2f2f2;
}

.contact h5 {
	text-transform: uppercase;
	font-size: 0.8em;
	color: #666;
	font-weight: 500;
	margin-bottom: 5px;
	/*margin-top: 15px;*/
}

.contact-icon {
	display: block;
	background-color: #14294E;
	padding: 5px 7px;
	font-size: 0.7rem;
	border-radius: 7px;
	color: #fcfcfc;
	margin-right: 8px;
	float: left;
}


.contact-details {
	font-size: 0.9rem;
	line-height: 1.2rem;
}


.contact-details a {
	color: #14294E;
}

.social-group {
	margin-top: 15px;
}

.social-links {
	border-radius: 5px;
	overflow: hidden;
	width: 30px;
	height: 30px;
	display: inline-block;

	transition: 0.2s ease;
}

.social-logo-a {
	fill: #555;
}

.social-logo-a:hover {
	fill: #136cfe;
}

/*CONTACT FORM*/

.contact form {
	display: block;
	width: 100%;
	background-color: #FCFDFF;
	border-radius: 20px;


}

.contact fieldset {
	padding: 20px;
	width: 100%;
	display: block;
	border: 1px solid #f1f1f1;
	border-radius: 20px;
	box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);

}

.contact form span {
	display: block;
	margin-top: -13px;
}

.contact input,
.contact textarea {
	display: block;
	width: 100%;
	margin-bottom: 5px;
}

.contact input {
	height: 2em;
}

.contact label {
	font-size: 0.8em;
	margin-bottom: 2px;
}

.contact input[class="form-control"],
.contact textarea {
	box-shadow: 1px 1px 2px inset rgba(0, 0, 0, 0.1);

}



.contact .my-btn-4 {
	width: 50%;
	margin: 0 auto;
	margin-top: 15px;
	color: #fcfcfc;
	background-color: #136cfe;
	border-radius: 20px;
	border: 1px solid #136cfe;
}


/*FOOTER*/
footer {
	height: 100%;
	background-color: #14294E;
	padding-top: 50px;
}

.footer-logo {
	height: 100%;
	/* background-color: #fcfcfc; */
}

.footer-logo h5 {
	color: #fcfcfc;
	padding-bottom: 10px;
	border-bottom: 2px solid #ffc40e;
	font-size: 1em;
}

.footer-info {
	padding-left: 20px;
}

.footer-info p,
.footer-info a {
	font-size: 0.8em;
	color: #95A8C6;
}

.footer-info h5 {
	font-size: 0.8em;
	color: #D9E6FC;
}

.footer-info p {
	line-height: 1.3em;
}

.footer-info ul {
	list-style: none;
}

.footer-info li {
	height: 1em;
}

.copyright {
	display: block;
	font-size: 0.7rem;
	color: #f2f2f2;
	margin-top: 20px;
	padding: 7px 5px;
	background-color: #0B182D;
}




/*=============================== subpages */

.to-contact {
	height: 100%;
	padding-top: 40px;
	padding-bottom: 40px;
	/*border:1px solid red;*/
	background: #14294E;
	/* fallback for old browsers */
	/* Chrome 10-25, Safari 5.1-6 */
	background: -webkit-linear-gradient(#194DA0, #14294E);
	background: -o-linear-gradient(#1A3666, #14294E);
	background: linear-gradient(#1A3666, #14294E);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.contact-type-a {
	background-color: #14294E;
	text-align: center;
}

.contact-type-a hr {
	margin-top: 40px;
	width: 100%;
}

.contact-type-a h3 {
	color: #ffc40e;
	text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}

.to-contact p {
	color: #fcfcfc;
}

.to-contact .input-group {
	border-radius: 30px;
	width: 70%;
	margin: 0 auto;
	overflow: hidden;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.input-group-prepend {
	width: 15%;
}


.input-group-prepend button {
	width: 100%;
	font-weight: 500;
	border-radius: none;
}


.to-contact #prod-btn[type="button"] {
	width: 200px;
	font-weight: 500;
	border-radius: 30px;
}

.modal-body>* {
	margin-bottom: 10px;
}



/*===============*/


.core-values {
	padding-bottom: 50px;
	height: 100%;
	background-color: #fcfcfc;
	background: url(../images/bg-values.jpg) center center no-repeat;
	background-size: cover;
	/*background-attachment: fixed;*/
}

.core-values h2 {
	color: #fcfcfc;
	text-align: center;
	font-size: 2.3em;
}


.upper-split {
	height: 20vh;
	padding-top: 30px;
	background-color: #14294E;
	z-index: 40;
}

.lower-split {
	margin-top: -5vh;
	z-index: 20;
}

.core-values .owl-carousel {
	height: 20%;
}

.core-val-card {
	padding: 20px;
	/*height: 100%;*/
	width: 80%;
	margin: 0 auto;

	background-color: #fff;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	border-radius: 8px;
}

.core-val-card img {
	display: block;
	max-width: 70%;
	margin: 0 auto;
}

.core-values .title {
	text-align: center;
	margin-top: 20px;
	color: #14294E;
	font-size: 1em;
	letter-spacing: 1px;
	font-weight: 600;
}


/*===================*/

.products-page>[class*="category"] {
	width: 100%;
	height: 100%;
	padding: 30px;

}

.products-page>[class*="category"] img {
	padding: 15px;
}

.products-page>[class*="category"] p {
	/*	border-left: 2px solid red;
	margin-top: 10px;
	padding-left: 20px;*/
}

.products-page>.category-1 {
	background-color: #fcfcfc;
}

.products-page>.category-2 {
	position: relative;
	background: #000;
	/* fallback for old browsers */
	background: -webkit-linear-gradient(right, #000, #14294E);
	background: -o-linear-gradient(right, #000, #14294E);
	background: linear-gradient(to left, #000, #14294E);

	color: #fcfcfc;
}

.products-page>.category-2 * {
	z-index: 50;
}

.products-page>.category-2::after {
	content: "";


	background: url(../images/products/bg-color.jpeg) bottom left no-repeat;

	background-position: bottom center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	position: absolute;

	opacity: 0.2;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
}

.products-page .category-item img {
	padding: 0;

}

.category-item-grp p {
	font-size: 0.8em;
}

.category-item {
	text-align: center;
	width: 80px;
	float: left;
	margin-right: 20px;
}


/*=====*/
.profile {
	height: 100%;
	padding: 20px 0 50px 0;
	background-color: #fcfcfc;

	background: url(../images/solid-spark.png) bottom right no-repeat;
	background-size: 25%;
}

.profile .label {
	margin-top: 30px;
	margin-bottom: 30px;
	width: 180px;
	border-bottom-color: #225198;
}


.profile .content-text {
	font-size: 1.1rem;
	color: grey;
}

.profile h4 {
	font-family: 'Ubuntu', sans-serif;
	font-size: 1.3rem;
	color: #225198;
	font-weight: 600;
}

/*=======*/

.faqs {
	padding: 40px 0;
}

.faqs h1 {
	color: #14294E;
	font-size: 2em;
	text-align: center;
}


#accordion .my-btn-5 {
	font-size: 1rem;
	/*background-color: red;*/
	border: none;
	width: 100%;
	text-align: left;
	background-color: transparent;
	;
	padding-left: 15px;
	font-weight: 500;
	color: #14294E;
}

#accordion .my-btn-5:focus {
	color: #136fce;
	border: none;
	box-shadow: none;
}


#accordion .card-header {
	padding: 15px 10px;
	border-bottom: 3px solid #5089E5;

}

#accordion .card {
	border-radius: 3px 3px 0px 0px;
	overflow: hidden;
	border: none;
}

#accordion .card-body {
	border: 1px solid #f5f5f5;
}

/*MEDIA QUERIES*/

/*Mobile Styles*/
@media only screen and (max-width: 425px) {
	.tac-mobile {
		text-align: center;
	}

	.nav-toggle {
		/*margin-top: 20px;*/
		display: block;
		position: fixed;
		z-index: 500;
	}

	.my-nav {
		visibility: hidden;
		opacity: 0;
		transition: 0.3s;
		position: fixed;
		display: absolute;
		top: 0;
		left: 0;
		background-color: #14294E;
		height: 100%;
	}

	.my-nav-active:before {
		content: "";
		display: block;
		position: fixed;
		width: 80px;
		height: 51px;
		background: url(../images/logo-sati.png);
		background-size: cover;
		margin-top: 20px;
		margin-left: 40px;
		margin-bottom: 30px;

	}

	#myNav .my-nav-active {
		visibility: visible;
		opacity: 1;
	}

	.my-nav ul {
		padding-top: 40%;
		margin-bottom: 0;
		float: right;
	}

	.my-nav ul>li {
		width: 100%;
		padding: 10px 0 10px 40px;
		float: left;

	}

	.my-nav ul>li>a {
		font-weight: 500;
		text-decoration: none;
		padding-bottom: 6px;
	}

	.home-banner {
		height: 100%;
		clip-path: none;
	}

	.section-banner h1 {
		font-size: 2.2em;
	}

	.section-banner h4 {
		padding-top: 10px;
		font-size: 1em;
		font-weight: 400;
	}




	.wrapper-center {
		padding-top: 35%;
	}


	.pointer-down {
		padding-top: 60px;
		padding-bottom: 20px;
	}

	.logo {
		padding: 10px 0px 0px 0px;
	}

	.logo svg {
		width: 80%;
	}

	.my-btn {
		padding: 5px 0;
		width: 200px;
	}

	.featured .card-group {
		padding-top: 20px;
	}


	.featured .card {
		margin-bottom: 15px;
	}

	.featured .card-title {
		font-size: 1.5em;
	}

	.featured .card-text {
		/*padding: 0 20px;*/
		font-size: 1rem;
		line-height: 1rem;
	}

	.featured {
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.products {
		padding-bottom: 50px;
	}

	.category-card {
		margin-bottom: 15px;
		box-shadow: 0 1px 4px 0 hsla(0, 0%, 0%, 0.2);
	}

	.category-card-img {
		width: 53%;
		padding-right: 10px;
	}

	.category-card-body {
		/*background-color: pink;*/
		width: 100%;
		padding-top: 12px;
	}

	.category-card-body h4 {
		text-transform: uppercase;
		font-size: 0.8rem;
		font-weight: 600;

	}

	.category-card-body p {
		color: #555;
		font-size: 0.8rem;
		line-height: 0.9rem;
	}

	.to-about {
		padding: 40px 20px;
	}

	.about-content h2 {
		font-size: 2em;
	}

	.about-content p {
		/* border: 1px solid red; */
		margin-bottom: 18px;
		font-size: 1em;
	}

	.contact {
		background-size: 60%;
	}

	.contact p {
		font-size: 0.9rem;

	}

	.contact form {
		width: 100%;
		margin-bottom: 30px;
		background: transparent;
		;
	}

	.contact fieldset {
		padding: 10px 10px 20px 10px;
		width: 100%;
		display: block;
		border: none;
		border-bottom: 2px solid #f1f1f1;
		border-radius: 0;
		box-shadow: none;
	}

	.contact legend {
		display: none;
	}

	.contact .my-btn-4 {
		width: 75%;
	}

	.p-logo-container {
		border-left: none;
		height: 100%;
	}

	.partners h2 {
		font-size: 2em;
	}

	.partners img {
		max-height: 30px;
		margin: 20px 20px;
	}

	.partners .left-container {
		padding-right: 20px;
		text-align: center;
	}

	.partners p {
		line-height: 1.2rem;
	}

	footer {
		height: 100%;
	}

	.footer-info {
		padding: 0;
	}

	.footer-logo {
		height: 100%;
		margin-bottom: 25px;
	}

	.footer-logo h5 {
		width: 250px;
		margin: 0 auto;

	}

	/*=============*/
	.category-item-grp {
		width: 90%;
		margin: 0 auto;
	}



	/*=========*/
	header .about-banner {
		height: 55vh;
	}

	.about-banner h1 {
		width: 200px;
		font-size: 1.6em;
	}

	.about-banner h4 {
		font-size: 0.9em;
		padding: 10px 15px;
	}

	.subpage-banner .wrapper-center {
		padding-top: 35%;
	}

	/*==========*/

	.core-values {
		height: 100%;
		padding-bottom: 30px;
		border-top: 5px solid #136cfe;
	}

	.core-values h2 {
		font-size: 2em;
	}

	.lower-split {
		margin-top: -4vh;
	}

	.core-values .title {
		font-size: 1rem;
	}

	.core-val-card img {
		max-width: 90%;
	}

	.to-contact .input-group {
		width: 100%;
	}

	.input-group-prepend {
		width: 25%;
	}

	.contact-type-a h3 {
		font-size: 2.1em;
		color: #ffc40e;
		text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	}

	.to-contact p {
		color: #fcfcfc;
	}



	/*========*/
	.profile {
		padding-top: 30px;
	}

	.profile h4 {
		margin-top: 20px;
	}


	/* ==================== */
	.video-container {
		position: relative;

		width: 100%;
		text-align: left;
	}

	.video-item {
		width: 100%;
		height: 100%;
		top: 40%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.close-button {
		top: 5%;
	}

	/*================ OWL */

	.owl-nav {
		color: white;
		font-size: 2em;
		font-weight: 500;
		text-align: center;
		padding: 20px;
	}
}

/*Tablet Styles*/

@media only screen and (min-width: 426px) and (max-width: 960px) {
	.tac-mobile {
		text-align: center;
	}

	.logo {
		padding: 20px 0px 0px 0px;
	}

	.logo svg {
		width: 100%;
	}

	.home-banner {
		min-height: 100%;
	}

	.wrapper-center {
		padding-top: 40%;
	}

	.subpage-banner .wrapper-center {
		padding-top: 35%;
	}

	.pointer-down {
		padding-top: 20%;
		width: 100%;
		text-align: center;
	}

	.featured {
		padding-top: 0;
	}

	.featured .card-title {
		font-size: 1.8em;
	}

	.featured .card-text {
		padding: 0 20px;
		font-size: 1.2rem;
		line-height: 1.2rem;
	}

	.my-nav ul>li>a {
		font-size: 0.9em;
	}

	.my-nav ul>li {
		padding-right: 22px;
		padding-bottom: 20px;
	}

	.my-nav ul>li:last-child {
		padding-right: 0;
	}

	.about-content h2 {
		font-size: 2.4em;
	}

	.about-content p {
		font-size: 1em;
	}

	.category-card {
		max-width: 400px;
		margin: 0 auto;
		margin-bottom: 20px;
		box-shadow: 0 1px 4px 0 hsla(0, 0%, 0%, 0.2);
	}

	.contact {
		background-size: 60%;
	}

	.contact p {
		font-size: 0.9rem;

	}

	.contact form {
		width: 100%;
		margin-bottom: 30px;
		overflow: hidden;
		background: transparent;

	}

	.contact fieldset {
		border: none;
		border-bottom: 2px solid #f1f1f1;
		border-radius: 0;
		background-color: none;

	}

	.contact .label-text {
		padding: 0 50px;
		border: none;
	}

	.contact .my-btn-4 {
		width: 75%;
	}

	.p-logo-container {
		border-left: none;
		height: 100%;
	}

	.partners img {
		margin: 20px 20px;
	}

	.partners .left-container {
		padding-right: 20px;
		text-align: center;
	}

	.partners p {
		line-height: 1.2rem;
	}



	.footer-info {
		padding: 0;
	}

	.footer-logo h5 {
		width: 300px;
		margin: 0 auto;
		margin-bottom: 25px;
	}

	/*=========*/
	header .about-banner {
		height: 33vh;
	}

	.about-banner h1 {
		width: 250px;
		font-size: 2em;
	}

	.about-banner h4 {
		font-size: 1em;
		padding: 10px 50px;
	}

	.subpage-banner .wrapper-center {
		padding-top: 18%;
	}


	/*==========*/

	.core-values {
		height: 100%;
		padding-bottom: 30px;
		border-top: 5px solid #136cfe;
	}

	.core-values h2 {
		font-size: 3em;
	}

	.lower-split {
		margin-top: -7vh;
	}

	.core-values .title {
		font-size: 2rem;
	}




}

/*Large Screens Styles*/
@media screen and (min-width: 1280px) {
	.home-banner {
		height: 105vh;
	}

	.section-banner h1 {
		font-size: 3em;
	}


	.section-banner h4 {
		padding-top: 10px;
		font-size: 1.2em;
		font-weight: 400;
	}

	.home-banner .wrapper-center {
		padding-top: 20%;
	}

	.subpage-banner .wrapper-center {
		padding-top: 15%;
	}

	.about-banner {
		height: 50vh;
	}

	.logo svg {
		display: block;
		width: 60%;
	}

	.logo {
		padding: 20px 0px 0px 0px;
	}

	.pointer-down {
		padding-top: 5%;
	}

	.featured {
		padding-top: 0;
	}

	/* ==================== */
	.video-container {
		position: relative;

		width: 100%;
		text-align: left;
	}

	.video-item {
		width: 70%;
		height: 70%;
		top: 35%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.close-button {
		top: 5%;

	}
}

/* Extra Large Screens  */

@media screen and (min-width: 1440px) {

	.logo svg {
		display: block;
		width: 45%;
	}

	.section-banner h1 {
		font-size: 4em;
	}

	.section-banner h4 {
		padding-top: 10px;
		font-size: 1.5em;
	}


	.wrapper-center {
		padding-top: 22%;
	}

	.pointer-down {
		padding-top: 11%;
	}

	.category-card-img {
		width: 53%;
	}

	.category-card-body h4 {
		font-size: 1.2rem;

	}

	.category-card-body p {
		font-size: 0.9rem;
		line-height: 1rem;
	}

	.contact {
		padding-bottom: 100px;
	}

	.footer-logo h5 {
		font-size: 1.25em;
	}

	/*========== */

	header .about-banner {
		height: 50vh;
	}

	.about-banner h1 {
		font-size: 3em;
	}

	.subpage-banner .wrapper-center {
		padding-top: 15%;
	}


}