/*css reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3 {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
}

a {
	text-decoration: none;
	color: #fcfcfc;
}



/*start of css declarations*/

/*GENERAL*/
.cls-1 {
	fill: #fcfcfc;
}

.cls-2 {
	fill: #136cfe;
}

.cls-3 {
	fill: #ffc40e;
}

.bg-default {
	background-color: #333;
}


.btn-wrap {
	padding: 30px 10px;
	color: #fcfcfc;
	text-align: center;
	/*margin: 0 auto;*/
}

.btn-wrap a {
	text-decoration: none;
	float: left;
	font-size: 1.1rem;
	/* letter-spacing: 1px; */
}


.my-btn {
	padding: 10px 0;
	width: 180px;
	display: block;

	transition: all 0.2s ease;
}

.my-btn-1 {
	color: #fcfcfc;
	border: 2px solid #fcfcfc;
	background-color: transparent;
}

.my-btn-2 {
	color: #14294E;
	border: 2px solid #fcfcfc;
	background-color: #fcfcfc;

}

.my-btn:hover {
	background-color: #136cfe;
	border: 2px solid #136cfe;
	color: #fcfcfc;
}






/*HEADER*/

header {
	position: relative;
	top: 0;
	left: 0;
	height: 13vh;
	background-color: transparent;
	padding-top: 5px;
	z-index: 100;

}


.logo svg {
	display: block;
	width: 70%;
	cursor: pointer;
}

.logo {
	padding: 20px 40px 20px 0px;
}

.my-nav ul {
	list-style: none;
	display: flex;
    flex-wrap: wrap;
	justify-content: flex-end;
	margin-bottom: 0;
	
	
}

.my-nav ul>li {
	/* display: inline; */
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	/* border: 1px solid blue;	 */
	/* width: 20%; */
	padding-right: 5%; 

}

.my-nav ul li:last-child{
	padding-right: 0; 
}

.my-nav ul>li>a {
	font-weight: 500;
	padding-bottom: 6px; 


	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	position: relative;
	overflow: hidden;
  }
  .my-nav ul>li>a:before {
	content: "";
	position: absolute;
	z-index: -1;
	left: 0;
	right: 100%;
	bottom: 0;
	background: #fcfcfc;
	height: 4px;
	-webkit-transition-property: right;
	transition-property: right;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
  }
  .my-nav ul>li>a:hover:before, .my-nav ul>li>a:focus:before, .my-nav ul>li>a:active:before {
	right: 0;
  }
  

  .my-nav ul>li>a:hover {
	  text-decoration: none;
	  color: #ffc40e;
  }



/*BANNER*/

.banner {
	position: relative;
	height: 83vh;
	margin-top: -13vh;
	background-color: #14294E;
	clip-path: polygon(50% 90%, 100% 82%, 100% 0, 0 0, 0 82%);
	color: #fcfcfc;
}

.banner::after {
	content: "";
	background: linear-gradient(to bottom, rgba(7, 13, 28, 0.65) 0%, rgba(5, 10, 22, 0.65) 22%, rgba(0, 0, 0, 0) 100%), url(../images/hero-banner.jpg);

	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;

	opacity: 0.3;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
}


.banner * {
	position: relative;
	z-index: 50;
}

.wrapper-center {
	padding-top: 22vh;
	width: 100%;
	text-align: center;
}

.pointer-down {
	padding-top: 17vh;
	width: 100%;
	text-align: center;
}


.pointer-down i {
	font-size: 2em;

}

.banner h1 {
	font-size: 3em;
}

.banner h4 {
	font-weight: 400;
	font-size: 1.5em;
}

.banner h4>span {
	color: #ffc40e;
	font-weight: 400;

}


/* FEATURED */
.featured .label {
	width: 150px;
	height: 40px;
	text-transform: uppercase;
	border: 2px solid #14294E;	
	border-radius: 5px;
	margin-bottom: 50px;

	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;

	font-weight: 500;
	font-size: 1em;
	letter-spacing: 2px;
}
.featured h3 {
	font-size: 2.5em;
	padding-bottom: 30px;
}

.featured .card {
	border: none;
	position: relative;
	margin-right:10px;
	margin-bottom: 10px;
}

.featured .card-body {
	padding-left: 0;
	padding-right: 0;
	min-height: 50px;
}

.featured .card-img-top {
	border-radius: 0px;
}

.card-body {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	/* right: 0; */
	opacity: 0;
	padding: 0;
	background-color: #136cfe;
	transition: 0.5s;

	
}

.card-body:hover {
	opacity: 1;
}

/*MEDIA QUERIES*/

/*Mobile Styles*/
@media only screen and (max-width: 425px) {
	.banner {
		height: 100vh;
		clip-path: none;
	}

	.banner h1 {
		font-size: 2.4em;
	}

	.banner h4 {
		padding-top: 10px;
		font-size: 1.1em;
		font-weight: 400;
	}

	.logo {
		padding: 10px 0px 0px 0px;
	}

	.logo svg {
		width: 80%;
	}


}

/*Tablet Styles*/

@media only screen and (min-width: 426px) and (max-width: 960px) {
	.logo {
		padding: 20px 0px 0px 0px;
	}

	.logo svg {
		width: 100%;
	}
}

/*Large Screens Styles*/
@media screen and (min-width: 1280px) {
	.banner h1 {
		font-size: 4em;
	}

	.banner h4 {
		padding-top: 10px;
		font-size: 1.3em;
		font-weight: 400;
	}

	.logo svg {
		display: block;
		width: 60%;
	}

	.logo {
		padding: 20px 0px 0px 0px;
	}

	.pointer-down {
		padding-top: 10vh;
		width: 100%;
		text-align: center;
	}
}